{% extends "layout.html" %}
{% block body_content %}
<div style="background:transparent !important" class="jumbotron text-center">
	<h1 class="text-primary" style="font-size:90px">About UCIETY</h1>
  	<p>UCIETY has one aim: to connect students and make finding university friends easy peasy.</p>
  	<P>We want to help make every student’s university journey unforgettable – from joining societies to finding flatmates, to connecting with fellow grime/baking/sci-fi lovers at universities worldwide. Whatever you love, people are talking about it on UCIETY.</p>
</div>
{% endblock body_content %}